127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1            localhost localhost.localdomain localhost6 localhost6.localdomain6


{% for item in hostname %}
{{ item }} {{ hostname[item] }}
{% endfor %}

{{ urls.repo.ip }} {{ urls.repo.url }}
{{ urls.ntp.ip }} {{ urls.ntp.url }}
{{ urls.registry.ip }} {{ urls.registry.url }}
{{ urls.kubeadm.ip }} {{ urls.kubeadm.url }}