[localrepo]
name=localrepo
{% if ansible_default_ipv4.address == urls.repo.ip %}
baseurl=file://{{ repo_path }}
{% else %}
baseurl=http://{{ urls.repo.url }}:8899
{% endif %}
gpgcheck=0
enabled=1

[updates]
name=localrepo
{% if ansible_default_ipv4.address == urls.repo.ip %}
baseurl=file://{{ repo_path }}
{% else %}
baseurl=http://{{ urls.repo.url }}:8899
{% endif %}
gpgcheck=0
enabled=1

[extras]
name=localrepo
{% if ansible_default_ipv4.address == urls.repo.ip %}
baseurl=file://{{ repo_path }}
{% else %}
baseurl=http://{{ urls.repo.url }}:8899
{% endif %}
gpgcheck=0
enabled=1

[centosplus]
name=localrepo
{% if ansible_default_ipv4.address == urls.repo.ip %}
baseurl=file://{{ repo_path }}
{% else %}
baseurl=http://{{ urls.repo.url }}:8899
{% endif %}
gpgcheck=0
enabled=1
